<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Products | Frozen</title>
  <link rel="stylesheet" href="../styles/styles.css" />
  <link rel="stylesheet" href="../styles/responsive.css" />
</head>

<body>
  <!-- Header -->
  <div class="header">
    <div class="logo">
      <a href="../index.html"><img src="../Asserts/images/logo.png" alt="Logo" /></a>
    </div>
    <div class="links">
      <ul>
        <li><a href="../index.html">HOME</a></li>
        <li>
          <a href="./about.html">ABOUT</a>
          <ul>
            <li><a href="./product.html" class="underlinks active">PRODUCT</a></li>
          </ul>
        </li>
        <li>
          <a href="./blog.html">BLOG</a>
          <ul>
            <li><a href="./singlepost.html" class="underlinks">SINGLE POST</a></li>
          </ul>
        </li>
        <li><a href="./contact.html">CONTACT</a></li>
      </ul>
    </div>
  </div>

  <!-- Page Heading -->
  <div class="about-heading">
    <h1>PRODUCTS</h1>
  </div>

  <!-- Product Sections -->
  <div class="products">
    <!-- All Time Classic -->
    <div class="pro-fruits">
      <div class="text-pro">
        <h1>All Time Classic</h1>
        <p>This website template has been designed by 
          <span><a href="#">Free Website Templates</a></span> for you, for free.
          You can replace all this text with your own text.
        </p>
      </div>
      <div><img src="../Asserts/images/kiwi.jpg" alt="Kiwi" /><h4 class="h1">KIWI</h4></div>
      <div><img src="../Asserts/images/mango.jpg" alt="Mango" /><h4 class="h1">MANGO</h4></div>
      <div><img src="../Asserts/images/cantaloupe.jpg" alt="Cantaloupe" /><h4 class="h1">CANTALOUPE</h4></div>
    </div>

    <!-- Berry Special -->
    <div class="pro-fruits">
      <div class="text-pro">
        <h1>Berry Special</h1>
        <p>
          Want an easier solution for a 
          <span><a href="#">Free Website</a></span>? Head straight to Wix and start customizing your website!
        </p>
      </div>
      <div><img src="../Asserts/images/blackberry.jpg" alt="Blackberry" /><h4 class="h1">BLACKBERRY</h4></div>
      <div><img src="../Asserts/images/strawberry.jpg" alt="Strawberry" /><h4 class="h1">STRAWBERRY</h4></div>
      <div><img src="../Asserts/images/blueberry.jpg" alt="Blueberry" /><h4 class="h1">BLUEBERRY</h4></div>
    </div>

    <!-- Fruit Blast -->
    <div class="pro-fruits">
      <div class="text-pro">
        <h1>Fruit Blast</h1>
        <p>
          All <span><a href="#">Wix</a></span> templates are fully customizable and free to use.
          Just pick one you like, click Edit, and enter the online editor.
        </p>
      </div>
      <div><img src="../Asserts/images/grapes.jpg" alt="Grapes" /><h4 class="h1">GRAPES</h4></div>
      <div><img src="../Asserts/images/green-apple.jpg" alt="Green Apple" /><h4 class="h1">GREEN APPLE</h4></div>
      <div><img src="../Asserts/images/pineapple.jpg" alt="Pineapple" /><h4 class="h1">PINEAPPLE</h4></div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer2">
    <div class="box">
      <div class="images">
        <img src="../Asserts/images/facebook.png" alt="Facebook" />
        <img src="../Asserts/images/twitter-sign.png" alt="Twitter" />
        <img src="../Asserts/images/google-plus-logo.png" alt="Google Plus" />
        <img src="../Asserts/images/pinterest.png" alt="Pinterest" />
      </div>
      <div class="text">
        &copy;2025 shaik. All Rights Reserved.
      </div>
    </div>
  </div>
</body>

</html>
