<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Single Post | Frozen</title>
  <link rel="stylesheet" href="../styles/styles.css" />
  <link rel="stylesheet" href="../styles/responsive.css" />
</head>

<body>
  <!-- Header -->
  <div class="header">
    <div class="logo">
      <a href="../index.html"><img src="../Asserts/images/logo.png" alt="Logo" /></a>
    </div>

    <div class="links">
      <ul>
        <li><a href="../index.html">HOME</a></li>
        <li>
          <a href="./about.html">ABOUT</a>
          <ul>
            <li><a href="./product.html" class="underlinks">PRODUCT</a></li>
          </ul>
        </li>
        <li>
          <a href="./blog.html" class="active">BLOG</a>
          <ul>
            <li><a href="./singlepost.html" class="underlinks active">SINGLE POST</a></li>
          </ul>
        </li>
        <li><a href="./contact.html">CONTACT</a></li>
      </ul>
    </div>
  </div>

  <!-- Page Heading -->
  <div class="about-heading">
    <h1>SINGLE POST</h1>
  </div>

  <!-- Post Content -->
  <div class="single-post">
    <div class="single-img">
      <img src="../Asserts/images/strwberry-delights.jpg" alt="Strawberry Delights" />
      <h1>NEW CHILLS FOR SUMMER</h1>
      <small>By Admin on November 28, 2023</small>

      <p>
        This website template has been designed by
        <span><a href="#">Free Website Templates</a></span> for you, for free.
        You can replace all this text with your own text.
        Want an easier solution for a
        <span><a href="#">Free Website</a></span>? Head straight to
        <span><a href="#">Wix</a></span> and immediately start customizing your website!
        <span><a href="#">Wix</a></span> is an online website builder with a simple drag & drop interface.
        Nothing to download, nothing to upload. All <span><a href="#">Wix</a></span> templates are fully customizable and free to use.
      </p>

      <p>
        Want an easier solution for a <span><a href="#">Free Templates</a></span>? Head straight to
        <span><a href="#">Wix</a></span> and immediately start customizing your website!
        <span><a href="#">Wix</a></span> is an online website builder with a simple drag & drop interface.
        Nothing to download, nothing to upload. All <span><a href="#">Wix</a></span> templates are fully customizable and free to use.
        <span><a href="#">Wix</a></span> also offers a ton of free design elements like images, icons, animations, and widgets.
      </p>

      <br /><br />

      <button><a href="./blog.html">BACK TO BLOG</a></button>
    </div>

    <!-- Recent Post Sidebar -->
    <div class="post">
      <div class="post-inner">
        <h1>Recent Posts</h1>
        <img src="../Asserts/images/on-diet.png" alt="On Diet Post" />
        <h1>ON THE DIET</h1>
        <small>By Admin on November 28, 2023</small>
        <p>This is just a placeholder so you can see what the site would look like.</p>
        <button><a href="./singlepost.html">READ MORE</a></button>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer2">
    <div class="box">
      <div class="images">
        <img src="../Asserts/images/facebook.png" alt="Facebook" />
        <img src="../Asserts/images/twitter-sign.png" alt="Twitter" />
        <img src="../Asserts/images/google-plus-logo.png" alt="Google Plus" />
        <img src="../Asserts/images/pinterest.png" alt="Pinterest" />
      </div>
      <div class="text">
        &copy;2025 shaik. All Rights Reserved.
      </div>
    </div>
  </div>
</body>

</html>
